body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
  background: url('/style/barkeepBackground.jpg') no-repeat center fixed;
  background-size: cover;
  /*opacity: 0.2;*/
}

.item {
  margin: 10px;
  font-weight: bold;
}

.searchItem:hover {
	color: #ff3399;
}
a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #ff3399;
	text-decoration: none;
}

.barData{
	color: grey;
	font-weight: normal;
}
.barData:hover{
	color: #404040;
}
.searchData {
	color: grey;
	font-style: italic;
	font-weight: normal;
}
.searchData:hover{
	color: #404040;
}
.btn{
	color: white;
}

.favouriteDisplay{
  opacity: 0.8;
  text-align: center;
  border-radius: 10px;
  margin-top: 15px;
  color: #ff3399;
  font-size: 2.25em;
}

#map{
    margin: auto;
    margin-top: 10px;
    width: 60%;
    border: 3px ;
    padding: 10px;
}

#scrollBox {
	margin-top: 10px;
  background-color: #ffffff;
  border: 1px grey solid;
  border-radius: 15px;
  opacity: 0.9;
  height: 400px;
  overflow-y: scroll;
}
h1 {
	font-size: 5em;
	color: white;
}

h3 {
	color: white;
}

h2 {
	color: white;
}

