<h2>Search your city for some poppin bars!</h2>
<div ng-controller = 'yelpBarsController'>

<form>
  <input id="inputField" ng-model='location' type='text' required>
  <button type="submit" ng-click= "listBars(location)" class="btn btn-warning">Get Bars from {{location}}</button>
</form>

 			<div class = container id ='scrollBox'>

      <ul ng-model = 'bars'>
	      <div class ='item searchItem' style="cursor: pointer;" ng-click='faveBar(bar)' ng-repeat="bar in bars">{{bar.name}}<div class ='searchData'><img ng-src = '{{bar.rating_img_url}}'/></br>{{bar.review_count}} people currently love this place!</br><b>The one-liner:</b>{{bar.snippet_text}}
			</div>

  </div>